@media (min-width: 325px) {
  .pageTitle,
  .formTitle,
  #books {
    text-align: center;
  }

  #addBook {
    width: 80%;
    border: 2px solid #000;
    margin: auto;
    background-color: rgb(238, 156, 156);
  }

  #bookForm {
    padding: 0;
    margin: auto;
  }

  .book-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    font-size: large;
    text-transform: uppercase;
  }

  #books {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0.4rem;
    width: 80%;
  }

  #books input {
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: large;
    font-weight: 500;
  }

  #books button {
    float: center;
    height: 3em;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    
  }
}

@media (min-width: 768px) {
  #addBook
  #bookForm {
    width: 80%;
  }

  .book-card {
    margin: 1rem 2rem;
  }

  #books input {
    margin: 1rem auto;
  }
}
